.mb-3 {
  padding-top: 15px;
}

.mastercomponentprices-container-1 {
  margin-top: 10px;
}

.mastercomponentprices-row-1 {
  margin-top: 10px;
}

.mastercomponentprices-th-1 {
  min-width: 300px;
}

.mastercomponentprices-th-2 {
  max-width: 100px;
}

.mastercomponentprices-th-3 {
  min-width: 150px;
}
